@model FinalProject.Models.Article

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create new article</title>
</head>
<body>
   @using (Html.BeginForm("Create", "Article", null, FormMethod.Post,
                                                   new { enctype = "multipart/form-data" }))
   {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Create new article</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p>Article title</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Article text</p>
                <div class="col-md-10">
                    <textarea rows="10" cols="30" name="Text" id="Text" required></textarea>
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                   <p>Upload Image</p>
                <div class="col-md-10">
                    <input type="file" name="ImageUploud" id="ImageUploud" accept="image/*" />
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <p> Upload video</p>
                <div class="col-md-10">
                    <input type="file" name="VideoUpload" id="VideoUpload" accept="video/*">
                    @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        <br>
        @Html.ActionLink("Back to articles list", "Index")
    </div>
</body>
</html>
