@model FinalProject.Models.Article

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h2>@Html.DisplayFor(model => model.Title)</h2> 
        <h4>@Html.DisplayFor(model => model.Author) | @Html.DisplayFor(model => model.PublishDate) </h4>
        
        <hr />
        <dl>
            <dd>
                @{var imagePath = "../../Visual/Images/" + Model.Image;
                    if (Model.Image == null) { imagePath = ""; } }
                <img id="detailsImage" src=@imagePath style="width:250px; height:250px;" alt=@Model.Image />
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>

            <dd>
                @{ var videoPath = "../../Visual/Videos/" + Model.Video;
                    if (Model.Video == null) { videoPath = ""; }}
                <video id="detailsVideo" src=@videoPath style="width:500px; margin-top: 20px;"  controls="controls" alt=@Model.Video 
                           onerror="this.style.visibility = 'hidden'" />
            </dd>

        </dl>
      
    <section id="comments">
        <h3>Comments</h3>
        @foreach (var comment in Model.Comments)
        {
            <br />
            <h4> @Html.DisplayFor(modelItem => comment.CommentTitle)</h4>
            <h6>@Html.DisplayFor(modelItem => comment.CommentUser)| @Html.DisplayFor(modelItem => comment.PublishDate) </h6>
            <h5>@Html.DisplayFor(modelItem => comment.Text)</h5>
            <br />
            <br />
        }
    </section>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ActionLink("Back to home page", "Index")
        }

    </div>
</body>
</html>
