@model FinalProject.Models.Article

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Article</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PublishDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PublishDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>
    
            <dt>
                @{var imagePath = "../../Visual/Images/" + Model.Image;
                    if (Model.Image == null) { imagePath = ""; } }
                <img id="detailsImage" src=@imagePath style="width:250px; height:250px;" alt=@Model.Image />
            </dt>

            <dt>
                @{ var videoPath = "../../Visual/Videos/" + Model.Video;
                    if (Model.Video == null) { videoPath = ""; }}
                <video id="detailsVideo" src=@videoPath style="width:500px; margin-top: 20px;" controls="controls" />
            </dt>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
