@model FinalProject.Models.Article

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="Details-content">
        <div class="Details-main-content">
            <section>
                <h2>@Html.DisplayFor(model => model.Title)</h2>
                <h4>@Html.DisplayFor(model => model.Author) at @Html.DisplayFor(model => model.PublishDate) </h4>

                <hr />
                <dl>

                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>
                    <dd>

                    </dd>
                </dl>
            </section>
            <section>
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    @Html.ActionLink("Back to home page", "Index")
                }
            </section>
        </div>
        <aside>
            <section>
                @{var imagePath = "../../Visual/Images/" + Model.Image;
                    if (Model.Image == null) { imagePath = ""; } }
                <img id="detailsImage" src=@imagePath style="width:250px; height:250px;" alt=@Model.Image />
            </section>
            <section>
                @{ var videoPath = "../../Visual/Videos/" + Model.Video;
                    if (Model.Video == null) { videoPath = ""; }}
                <video id="detailsVideo" src=@videoPath style="width:500px; margin-top: 20px;" controls="controls" alt=@Model.Video
                       onerror="this.style.visibility = 'hidden'" />
            </section>
        </aside>
    </div>
</body>

</html>
