@model IEnumerable<FinalProject.Models.Beach>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@using (Html.BeginForm())
{

    <div class="search-tbl-header">
        <table cellpadding="0" cellspacing="0" border="0" class="search-tbl">
            <thead>
                <tr>
                    <th class="search-tbl-th">@Html.TextBox("beachName", "", new { @class = "search-box", @style="width:80%", @placeholder= "Name" })</th>
                    <th class="search-tbl-th">@Html.TextBox("beachDescription", "", new { @class = "search-box", @style = "width:80%", @placeholder = "Dsescription" })</th>
                    <th class="search-tbl-th"><input type="submit" value="Search" class="btn search-btn" /></th>
                </tr>
            </thead>
        </table>
    </div>

}
<br />
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lattitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longtidute)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lattitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longtidute)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BeachId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BeachId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BeachId })
        </td>
    </tr>
}

</table>
