
@model IEnumerable<FinalProject.Models.Article>
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

@if (User.IsInRole("NormalUser") || User.IsInRole("Admin"))
{
    int i = 0;

    foreach (var item in Model)
    {
        i++;

        <div class="all content">

            @if (i <= 5)
            {
                <div class="top five">
                    <div>
                        <h2>@Html.DisplayFor(model => item.Title)</h2>
                        <h4>@Html.DisplayFor(model => item.Author) at @Html.DisplayFor(model => item.PublishDate) </h4>

                        <hr />
                        <dl class="dl-horizontal">
                            <dd>
                                @{var imagePath = "../../Visual/Images/" + item.Image;
                                    if (item.Image == null) { imagePath = ""; } }
                                <img id="detailsImage" src=@imagePath style="width:250px; height:250px;" alt=@item.Image />
                            </dd>
                            <dd>
                                @Html.DisplayFor(model => item.Text)
                            </dd>
                        </dl>
                    </div>
                </div>
                                    }
                                    else
                                    {
                                        <div class="later">
                                            <div>
                                                <h2>@Html.DisplayFor(model => item.Title)</h2>
                                                <h4>@Html.DisplayFor(model => item.Author) at @Html.DisplayFor(model => item.PublishDate) </h4>

                                                <hr />
                                                <dl class="dl-horizontal">
                                                    <dd>
                                                        @{var imagePath = "../../Visual/Images/" + item.Image;
                                                            if (item.Image == null) { imagePath = ""; } }
                                                        <img id="detailsImage" src=@imagePath style="width:250px; height:250px;" alt=@item.Image />
                                                    </dd>
                                                    <dd>
                                                        @Html.DisplayFor(model => item.Text)
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                                            }
        </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <p> Please Login to view the content </p>
                                                            }